<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./src/Cherry/Tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <php>
        <const name="WEB_SERVER_HOST" value="localhost" />
        <const name="WEB_SERVER_PORT_FRONTEND" value="8100" />
        <const name="WEB_SERVER_PORT_BACKEND" value="8200" />
        <const name="WEB_SERVER_DOCROOT_FRONTEND" value="./web" />
        <const name="WEB_SERVER_DOCROOT_BACKEND" value="./webAdmin" />
    </php>
    <testsuites>
        <testsuite name="CherryApp Test Suite">
            <directory>./src/Cherry/Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>src/Cherry/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
