<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./src/Cherry/Tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <php>
        <const name="WEB_SERVER_HOST" value="localhost" />
        <const name="WEB_SERVER_PORT" value="8000" />
        <const name="WEB_SERVER_DOCROOT" value="./web" />
    </php>
    <testsuites>
        <testsuite name="CherryApp Test Suite">
            <directory>./src/Cherry/Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
