{% extends "layout.html.twig" %}

{% set page_title = 'menu.art_works'|trans %}

{% block content %}
    <div class="grid post-grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {% for work in works %}
            <div class="grid-item">
                <div class="post-link">
                    <div class="post-title-container">
                        <div class="post-title">
                            <p><span>{{ attribute(work, 'title_'~global.request.get('_locale')) }}</span><br />
                                {#— Subheading —#}</p>
                        </div>
                    </div>
                    <img src="{{ app.image_handler.getImageUrl(work.picture, 'front_end_two_columns') }}" alt="" />
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
{% endblock %}
