{% extends "layout.html.twig" %}

{% set page_title = 'about_artist_page'|trans %}

{% block content %}
    <img src="/ava.jpg" style="max-width: 320px; max-height: 320px; margin: 0 1em 1em 0; float: left" alt="" />
    <div class="about">
        {{ 'biography'|trans|raw }}
    </div>
    <div style="clear:both;"></div>
{% endblock %}
