{% extends "Admin/adminLayout.html.twig" %}
{% block title %}Create new Art Work{% endblock %}
{% block content %}
    <h1>Add new Art Work</h1>
    <form action="#" method="post">
        {{ form_widget(form) }}

        <input type="submit" name="submit" />
    </form>
{% endblock %}
