{% extends "Admin/adminLayout.html.twig" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Dashboard</h1>

    <ul>
        <li><a href="{{ path('admin_art_works') }}">List of Art Works</a></li>
        <li><a href="{{ path('admin_news') }}">List of News</a></li>
    </ul>
{% endblock %}
